@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
  }

  .landingPage {
      text-align: center;
      height: 100vh;
      background: url('images/banner/img-6.jpg');
      background-position: center;
      background-size: cover;
      justify-content: center;
      position: relative;
  }

  .landingPage-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .landingPage h1 {
      color: #fff;
      font-size: 50px;
      font-weight: 300;
  }

  .landingPage p {
      color: #fff;
      font-size: 25px;
  }

  .navibar {
    font-weight: bold;
  }

  .about {
    padding: 50px;
  }

  .about p {
    color: #333;
  }

  .testimonial {
    background:url(images/pattern/pattern-1.jpg) repeat left top scroll #fff;
    background-attachment: fixed;
    color: #fff;
    position: relative;
  }

  .testimonial h1 {
    position: relative;
    color: #fff;
    padding: 60px 0 10px;
  }

  .testimonial h3,p {
      color: #fff;
  }

  .testimonial .caro{
    padding: 20px 30px 70px;
    color: #fff;
  }

  .gallery {
     padding: 50px;
     display: inline-block;
  }

  .gallery h1 {
    margin-bottom: 30px;
  }

  .contact {
      background:url(images/banner/img-10.jpg) repeat left top scroll #fff;
      background-attachment: fixed;
      background-size: cover;
      padding: 50px;
      color: #fff;
      position: relative;
  }

  .contact h1 {
      position: relative;
      color: #fff;
      margin-bottom: 30px;
  }

  .contactInfo {
    position: relative;
    color: #fff;
    padding: 30px;
  }

  .contact h2,p {
      color: #fff;
  }

  .icon {
    position: relative;
    color: #fff;
  }

  .appointment {
    padding: 50px;
  }

  .appointment h1 {
    margin-bottom: 30px;
  }

  .appointment p {
    color: #333;
  }

  .appForm {
    padding: 10px 5px;
  }

  .bg-overlay {
    background-color:#000;
    opacity: 0.7;
    position:absolute;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .footer {
    padding: 50px 30px 20px;
    background-color: #212529;
  }

  .footer h3,p{
    color: #fff;
  }

  .doctorsSide {
    text-align: center;
    background:url(images/banner/img-10.jpg);
    position: relative; 
    height: 100%;
    width: 100%;
  }

  .doctorsSide h1 {
    position: relative;
    padding: 5rem 0 2rem;
    color: #fff;
  }

  .doctorsSide input, .doctorsSide label {
    display: block;
    margin: 10px auto;
    color: #fff;
  }

  .login {
    background:url(images/img-02.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .login h1 {
    color: #fff;
  }

  .loginForm {
    padding: 5rem;
    background:url(images/img-01.jpg);
    margin: auto;
    width: 360px;
    height: 540px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
  }

  .loginForm:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .formField {
    margin-bottom: 10px;
  }

  .loginFormElements {
    position: relative;
    top: 55%;
  }

  .loginFormLabel {
    text-align: left;
    color: #fff;
    padding: 0;
    margin: 0;
  }

  .signUpForm {
    padding: 5rem;
    background-color: #3ca7d3;
    margin: auto;
    width: 360px;
    height: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
  }

  .signUpButton {
    color: #fff;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 5px 10px;
  }

  .signUpButton:hover {
    color: #3ca7d3;
    background: #fff;
    border-radius: 10px;
    border: 1 #fff;
  }